$baseColor: #E6EBF0;
$highColor: #1B9437;
$smallColor: #A6AAA9;
$highHoverColor: #34AB4F;
$textColor: #3C3C3C;

@mixin cardbase(){
  border-radius: 2px;
  box-shadow: 1px 1px 1px gray;
  background-color: white;
  color: $textColor;
  padding: 0px;

}

@mixin bgimage($type: cover){
  background-size: $type;
  background-position: center,center;
  background-repeat: no-repeat;
}

@mixin areabase(){
  margin-top: 20px;
  margin-bottom: 20px;
}

@mixin studybase(){
  margin-top: 60px;
  margin-bottom: 60px;
}

body{
  background-color: $baseColor;
  font-weight: 200;
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', Osaka, Arial, Helvetica, Verdana, sans-serif;
}

a{
  color: $highColor;
  &:hover{
    color: $highHoverColor;
  }
}

p{
  margin: 0px;
}

pre{
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}

.space-10{
  height: 10px;
}

.top-20{
  margin-top: 20px;
}

.bottom-20{
  margin-bottom: 20px;
}

.center{
  text-align: center;
}

.modal{
  z-index:999999;
}

.mb-no-display{
  display: block;
  @media(max-width: 600px){
    display: none;
  }
}

.board-area{
  @include areabase();
}

.chart-area{
  height: 300px;
  padding: 10px;
  canvas{
    margin: auto;
    display: block;
  }
}

.plan-area{
  height: 300px;
  padding: 10px 10px 10px 10px;
  .button-up{
    @include cardbase();
    width: 50px;
    height: 50px;
    padding-top: -20px;
    border-radius: 50%;
    margin: 50px auto;
    text-align: center;
    line-height: 50px;
    font-size: 45px;
    cursor: pointer;
    @media(max-width: 600px){
      margin-left: -20px;
      width: 30px;
      height: 30px;
      font-size: 25px;
      line-height: 30px;
      margin-top: 80px;
    }
    i{
      @media(max-width: 600px){
        margin-top: -4px;
        display: block;
      }
    }
  }
  .button-down{
    @include cardbase();
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-size: 45px;
    cursor: pointer;
    @media(max-width: 600px){
      margin-left: -20px;
      width: 30px;
      height: 30px;
      font-size: 25px;
      line-height: 30px;
    }
    i{
      @media(max-width: 600px){
        margin-top: 4px;
      }
    }
  }

  .plan-boxes{
    height: 260px;
    .plan-box{
      height: 60px;
      vertical-align: middle;
      opacity: 0.7;
      .plan-title{
        color: $highColor;
        font-size: 10px;
        margin-top: 20px;
      }
      .plan-content{
        color: $textColor;
        font-size: 12px;
        font-weight: bold;
      }
    }
    .plan-box.today{
      font-weight: bold;
      opacity: 1.0;
      .plan-title{
        font-size: 16px;
      }
      .plan-content{
        font-size: 24px;
      }
    }
  }
}

.text-area{
  @include areabase();
  font-weight: bold;
  vertical-align: middle;
  color: $textColor;
  text-align: center;
  font-size: 24px;
}

.eyecatch{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0174c1+0,51a7f9+100 */
  background: #0174c1; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #0174c1 0%, #51a7f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #0174c1 0%,#51a7f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #0174c1 0%,#51a7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0174c1', endColorstr='#51a7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 20px 0px;
  a{
    text-decoration: none;
  }
}

.navbar{
  margin-bottom: 0px;
  .topbar-image{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 5px;
    border-radius: 50%;
    @include bgimage();
  }
}

.navbar-default{
  background-color: white;
  box-shadow: 1px 1px 1px gray;
  border-radius: 0px;
}

.navbar-brand{
  img{
    height: 40px;
    margin-top: -10px;
  }
}

.container.main{
  min-height: 600px;
  .alert {
    margin-top: 10px;
    margin-bottom: -20px;
  }
}

.login-area{
  margin-top: 70px;
  text-align: center;
  margin-bottom: 100px;
}

.card{
  @include cardbase();
  .card-header{
    background-color: $highColor;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .card-prof-image{
    width: 60px;
    height: 60px;
    margin: 20px auto 10px auto;
    border-radius: 50%;
    @include bgimage();
  }

  h1.card-name{
    font-size: 24px;
  }

  .card-notice{
    margin: 0px 0px 20px 0px;
    font-size: 10px;
    color: $highColor;
    text-decoration: underline;
    i{
      text-decoration: none;
      font-size: 14px;
    }
  }//end card notice

  .card-title{
    font-size: 24px;
  }

  .lesson-card-title{
    font-size: 20px;
    margin: 5px 0px 5px 5px;
  }

  .lesson-card-description{
    margin: 5px 0px 20px 5px;
    width: auto;
    font-size: 12px;
  }

  .row.in-card{
    margin: 0px;
  }

  .card-top{
    height: 30px;
    .card-label{
      background-color: $highColor;
      color: white;
      padding: 5px 20px;
      font-size: 16px;
      margin-left: -2px;
      .card-label-icon{
        width: 30px;
        margin-top: -3px;
        margin-right: 5px;
      }
      .card-label-icon.small{
        width: 20px;
      }
    }

  }

  hr.card-line{
    margin: -3px auto 4px auto;
    width: 30px;
    border-color: $highColor;
  }

  .card-sub-title{
    font-size: 11px;
    color: $smallColor;
  }

  .card-image{
    margin: 10px auto 10px auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid $highColor;
    img{
      width: 50px;
      margin-top: 15px;
    }
  }

  .card-description{
    text-align: left;
    margin: 15px auto;
    width: 60%;
  }

  .card-progress{
    height: 25px;
    background-color: #eee;
    width: 80%;
    margin: 10px auto 20px auto;
    border-radius: 5px;
    .progress-bar{
      background-color: $highColor;
      height: 100%;
      border-radius: 5px;
      text-align: right;
      line-height: 25px;
      padding-right: 10px;
      font-weight: bold;
    }
  }

  .card-button{
    height: 35px;
    color: white;
    background-color: $highColor;
    margin: 10px auto;
    width: 100px;
    line-height: 35px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    .button-icon{
      width: 23px;
      float: left;
      margin: 5px -15px 5px 15px;
    }
  }

  .card-button.fleft{
    float: left;
    margin-left: 15px;
    @media(max-width: 600px){
      float: none;
      margin: 10px auto;
      text-align: center;
    }
  }
  .card-form{
    padding: 20px 35px;
    display: block;
    input{
      height: 45px;
    }
    .card-form-notice{
      text-align: left;
      font-size: 10px;
      padding-left: 20px;
      color: $smallColor;
      margin-bottom: 20px;
      margin-top: -10px;
    }


    input[type=submit]{
      height: 40px;
      background-color: $highColor;
      color: white;
      border: 0px;
      width: 100%;
      font-weight: bold;
      border-radius: 0px;
      &:hover{
        background-color: $highHoverColor;
      }
    }
    input[type=submit].small{
      width: 30%;
    }
  }//end card form


  .card-con-300{
    height: 300px;
  }

  .card-footer{
    padding: 10px 0px 20px 0px;
    a{
      font-size: 10px;
      text-decoration: underline;
    }
  }

}//end card

.icon-box{
  color: $highColor;
  padding: 5px;
  text-align: center;
  .check-box-square{
    border: 5px solid #aaa;
    width: 20px;
    height: 20px;
    margin: 15px auto;
    img.icon-image{
      width: 30px;
      margin-top: -30px;
      margin-left: -7px;
    }
  }
  .check-box-square.nocheck{
    img.icon-image{
      display: none;
    }
  }
  img.icon-image{
    width: 80%;
  }
  .icon-text{
    font-size: 10px;
  }
  .icon-text.white{
    color: white;
  }
}

.icon-box.icon-small{
  img{
    width: 60%;
    margin-top: 15px;
  }
}


.card.card-separated{
  margin:0px 10px 20px 10px;
  position: relative;
  @media(max-width: 600px){
    margin: 0px;
  }
  .card-archive{
    position: absolute;
    color: $highColor;
    top: 30%;
    left: 18%;
    font-size: 25px;
    opacity: 0.8;
    font-weight: 700;
    font-family: "Hiragino Sans";
    @media(max-width: 600px){
      left: 22%;
      font-size: 20px;
    }
    .card-archive-num{
      font-size: 35px;
      @media(max-width:600px){
        font-size: 25px;
      }
    }
  }
}


.card.topline{
  border-top: 2px solid $highColor;
}


.goal{
  .face{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    @include bgimage();
  }
  .goal-text{
    height: 80px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
  }
}

.lessons{
  color: white;
  .lesson-image{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    img{
      width: 80px;
      margin-top: 20px;
    }
  }

  .lesson-count{
    margin-top: 5px;
  }

  h1.lesson-title{
    margin: 5px 0px;
  }
}

.studies{
  color: white;
  .study-image{
    text-align: center;
    img{
      width: 80%;
      margin-top: 10px;
    }
    .study-image-text{
      font-size: 11px;
      margin-top: 5px;
    }
  }
  .study-count{
    font-size: 12px;
  }
  h1.study-title{
    margin: 5px 0px;
    font-size: 24px;
  }
  .study-description{
    font-size: 12px;
    margin: 10px 0px 5px 0px;
  }
  .icon-small{
    margin-top: 10px;
    img.icon-image{
      width: 35%;
      @media(max-width: 600px){
        width: 60%;
      }
    }
    .icon-text{
      margin-top: 5px;
      @media(max-width: 600px){
        font-size: 10px;
      }
    }
  }
}

.study-area{
  @include studybase();
  @media(max-width:600px){
    margin-bottom: 120px;
  }
  .card{
    background-color: black;
  }
}

.slide-area{
  @include studybase();
  @media(max-width: 600px){
    margin-top: 30px;
    margin-bottom: 100px;
  }
  ul.slides{
    li.slide{
      img{
        width: 100%;
      }
      display: none;
    }
    li.slide:first-child{
      display: block;
    }
  }

  .slide-left{
    display: none;
    cursor: pointer;
  }

  .slide-right{
    cursor: pointer;
  }

  .slide-bottom{
    height: 60px;
    text-align: center;
    line-height: 60px;
  }
}

.note-area{
  @include studybase();
  @media(max-width: 600px){
    margin-bottom: 110px;
  }
  .note-content{
    padding-top: 10px;
    @media(max-width: 600px){
      padding-top: 0px;
    }
    .left-note{
      padding-right: 2px;
      @media(max-width: 600px){
        padding: 0px;
      }
    }
    .right-note{
      padding-left: 2px;
      @media(max-width: 600px){
        padding: 0px;
      }
    }
    .code{
      height: 500px;
      overflow-y: auto;
      border: 1px solid rgb(40,40,40);
      @media(max-width: 600px){
        height: 250px;
      }
      .code-title{
        position: absolute;
        top: 0px;
        left: 15px;
        width: 100px;
        background-color: rgb(40,40,40);
        color: white;
        text-align: center;
        z-index: 99999;
        @media(max-width: 600px){
          left: 0px;
        }
      }
    }
    .editor{
      height: 477px;
      margin-top: 23px;
      @media(max-width: 600px){
        height: 227px;
      }
    }
    .code.black{
      background-color: rgb(40,40,40);
    }
  }
}

.help-area{
  @include studybase();
  padding-bottom: 30px;
  .help-box{
    margin-top: 5px;
    margin-bottom: 5px;
    .help-title{
      font-weight: bold;
      font-size: 20px;
      margin: 3px 0px;
      cursor: pointer;
      &:before{
        content:'Q.';
        font-size: 30px;
        margin-right: 5px;
      }
      &:after{
        content:'▼';
        font-size: 13px;
        display: block;
        float: right;
        margin-top: 15px;
        margin-right: 20px;
        @media(max-width: 600px){
          margin-top: 5px;
        }
      }
    }
    .help-answer{
      padding-left: 20px;
      display: none;
      &:before{
        content:'A.';
        font-size: 20px;
        margin-right: 5px;
      }
    }

  }

  .help-box.show{
    .help-title{
      &:after{
        content:'▲';
      }
    }
    .help-answer{
      display: block;
    }
  }

}

.modal .help-area{
  margin: 5px;
  padding: 5px;
  .help-box{
    .help-title{
      font-size: 16px;
    }
  }
}

.faq-area{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.8);
  z-index:999999;
}

.circle-button-left{
  background-color: white;
  width: 50px;
  height: 50px;
  @include cardbase();
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  padding-right: 5px;
  position: absolute;
  top: 40%;
  margin-left: -60px;
  @media(max-width: 600px){
    top: 105%;
    margin-left: 0px;
  }
}

.circle-button-left-text{
  font-size: 10px;
  color: $textColor;
  text-align: center;
  line-height: 50px;
  padding-right: 5px;
  position: absolute;
  top: 40%;
  margin-left: -65px;
  margin-top: 35px;

  @media(max-width: 600px){
    top: 105%;
    margin-left: -5px;
  }

}


.circle-button-right{
  background-color: white;
  width: 50px;
  height: 50px;
  @include cardbase();
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  padding-left: 5px;
  position: absolute;
  top: 40%;
  right: 0px;
  margin-right: -45px;
  @media(max-width: 600px){
    top: 105%;
    margin-right: 15px;
  }
}

.circle-button-right-text{
  font-size: 10px;
  color: $textColor;
  text-align: center;
  line-height: 50px;
  padding-left: 5px;
  position: absolute;
  top: 40%;
  right: 0px;
  margin-top: 35px;
  margin-right: -52px;
  @media(max-width: 600px){
    top: 105%;
    margin-right: 10px;
  }
}

.circle-button-right{

}

footer{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0174c1+0,51a7f9+100 */
  background: #0174c1; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #0174c1 0%, #51a7f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #0174c1 0%,#51a7f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #0174c1 0%,#51a7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0174c1', endColorstr='#51a7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
  font-size: 10px;
  padding: 10px 0px 10px 0px;
  div{
    @media(max-width: 600px){
      margin: 10px auto;
    }
  }
  a{
    color: white!important;
  }
}



@media screen and (max-width: 600px){
  .row{
    margin: 0px;
  }

  .card.card-separated {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
